.kvSwiper {
  width: 1100px;
  height: 500px;
}

.kvSwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* メディアクエリ */
@media (max-width: 768px) {
  .kvSwiper {
    width: 100%;
    height: 300px;
  }
}
