.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 30px 0;
  width: 100%;
  margin-top: 100px;
}

.footerList {
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footerSocial {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
}

/* メディアクエリ */
@media (max-width: 768px) {
  .footerList {
    flex-direction: column;
    gap: 10px;
  }
}
