.header {
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  p {
    background-color: orange;
    padding: 5px 20px;
    border-radius: 1.5rem;
    font-size: 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
  }
}

.h1 {
  display: flex;
  align-items: center;
  height: 130px;
}

.nav {
  display: flex;
  height: 50px;
  font-size: 16px;
  color: #ffffff;
  background-color: #2584ff;
  font-weight: 700;
  text-align: center;
}

.nav_list {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.nav_list li {
  flex: 1;
  text-align: center;
  border-right: 1px solid #ccc;
}

.nav_list li:last-child {
  border-right: none;
}
.navItem {
  display: block;
  padding: 2% 0;
  color: #ffffff;
  text-decoration: none;
}

/* メディアクエリ */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .col {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
}
