.main {
  padding-bottom: 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin: 80px 0 50px;
  font-size: 52px;
}

.h2 {
  font-size: 2.8rem;
  color: #ffffff;
  text-align: center;
  margin: 30px 0 10px;
  padding: 10px 50px;
  background-color: #e12727;
  border-radius: 30px;
}

.cap {
  font-size: 16px;
  margin-bottom: 30px;
}

.para {
  font-size: 1.2rem;
  color: #666;
  text-align: center;
}
