.main {
  padding-bottom: 30px;
  width: 1100px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin: 80px 0 50px;
}

.h2 {
  font-size: 2.2rem;
  color: #ffffff;
  text-align: center;
  margin: 30px 0 10px;
  padding: 10px 30px;
  background-color: #e12727;
  border-radius: 30px;
  line-height: 1.7em;
}

.cap {
  font-size: 16px;
  margin-bottom: 30px;
}

.para {
  font-size: 1rem;
  color: #666;
  text-align: center;
}
