.h2 {
  color: #211ab1;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 50px;
  padding: 20px 18px 18px 18px;
  line-height: 1em;
}

/* メディアクエリ */
@media (max-width: 768px) {
  .h2 {
    font-size: 1.5rem;
  }
}
