.h2 {
  background-color: #2584ff;
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 50px;
  padding: 20px 18px 18px 18px;
  line-height: 1em;
}

/* メディアクエリ */
@media (max-width: 768px) {
  .h2 {
    font-size: 1.5rem;
  }
}
