.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 50px;
}

.para {
  font-size: 1.2rem;
  color: #666;
  text-align: left;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 50px;
  list-style: none;
}

.listItem {
  width: 31%;
  margin-bottom: 20px;
  padding: 23px;
  border: 1px solid #5840e1;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
}

.listItem h3 {
  font-size: 1.4rem;
  color: #211ab1;
  margin-bottom: 20px;
  text-align: center;
}
.listItem p {
  font-size: 1rem;
  text-align-last: left;
  color: #555;
}

.qa_list {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 20px;
  list-style: none;
  margin-bottom: 50px;
}

.qa_list li {
  padding: 20px;
}

.qa_list h2 {
  padding: 10px;
}

.qa_list p {
  padding: 10px;
}

.flow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.flowItem {
  width: 24%;
  height: 300px;
  margin-bottom: 20px;
  padding: 23px;
  background-color: #d1d1d1;
}

.map_container {
  display: flex;
  width: 100%;
  height: 450px;
  margin-top: 20px;
  gap: 30px;
}

.map_caption {
  font-size: 1.2rem;

  text-align: left;

  p {
    margin-bottom: 30px;

    span {
      color: red;
      font-weight: bold;
    }
  }
}

.map_frame {
  width: 60%;
  height: 100%;
}

.priceSection {
  margin: 0 auto 50px;
}
.priceTable {
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 20px;
  margin: 0 auto;

  td {
    padding: 2% 5px;
    border-bottom: 1px solid #bbbbbb;
  }
}

.menu {
  width: 23%;
}

.price_en {
  width: 15%;
}

.cases_picture {
  width: 700px;
  height: auto;
  margin-bottom: 20px;
}

.cases_text {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 50px;
}

.cases_info {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
}

.cases_syoujo {
  color: white;
  margin-right: 10px;
  font-weight: bold;
  display: block;
  background-color: #6495ed;
  padding: 5px 15px;
  border-radius: 10px;
}

/* メディアクエリ */
@media (max-width: 768px) {
  .list {
    flex-direction: column;
    padding: 0 10px;
    margin: 50px 0 30px;
  }
  .listItem {
    width: 100%;
  }
  .qa_list {
    border: none;
    padding: 0;
  }
  .map_container {
    padding: 0 10px;
    flex-direction: column;
    height: auto;
  }
  .map_frame {
    width: 100%;
    height: 350px;
  }
  .priceTable {
    font-size: 16px;
  }
  .menu {
    width: 35%;
  }
  .price_en {
    width: 25%;
  }
}
